# Required for licensed Google Maps Static API images on office cards and pages.
# Restrict this browser key to cpsutah.org, www.cpsutah.org, and localhost,
# and restrict the key to the Maps Static API in Google Cloud Console.
NEXT_PUBLIC_GOOGLE_MAPS_STATIC_API_KEY=
